main {
    #comic-description {
        font-family: 'Open Sans', sans-serif;

        .cover {
            padding-bottom: 80px;
            background-color: $comic_page_cover_bg_color;
            margin-bottom: 50px;

            .wrapper {
                max-width: 1200px;
                margin: auto;
                position: relative;

                img {
                    border: 1px solid $comic_page_avaiabilty_font_color;
                    position: absolute;
                    bottom: -60px;
                }
            }
        }

        h2 {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 38px;
            font-weight: 700;
            color: $comic_page_font_title;
        }

        .comic-status {
            color: $comic_page_avaiabilty_font_color;
            background-color: $comic_page_bg_avaiabilty;
            border-bottom: 1px solid #357739;
            font-weight: 600;

            > div:last-of-type {
                border-left: 1px solid #357739;

                a {
                    color: $comic_page_avaiabilty_font_color;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .avaiabiable {
                color: #bafd9c;
            }
        }

        p {
            font-size: 17px;
            line-height: 28px;
            font-weight: 600;
            color: $comic_page_font_description;
        }
    }

    #comic-details-info {
        font-family: 'Open Sans', sans-serif;
        background-color: $comic_page_bg_details_info;
        padding-bottom: 100px;

        h3 {
            font-family: 'Open Sans Condensed', sans-serif;
            font-size: 26px;
            font-weight: 700;
            color: $comic_page_font_title;
        }

        .grid {
            font-size: 14px;
            line-height: 16px;
            padding: 15px;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #e3e3e3;

            .highlight {
                color: $comic_page_highlight_fonts;
                font-weight: 700;

                &:nth-of-type(even){
                    padding: 10px 0;
                }
            }

            h4 {
                font-size: 14px;
                font-weight: 700;
                color: $comic_page_font_title;
            }

            h4, p {
                margin: 0;
            }

            .key {
                flex-basis: 30%;
            }

            .value {
                flex-basis: 70%;
            }
        }
    }

    #filter-merchandise {
        background-color: $comic_page_bg_details_info;
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;

        a {
            @include flex (row, space-between, center);
            font-family: 'Open Sans Condensed', sans-serif;
            border-left: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            font-size: 12px;
            font-weight: 700;
            padding: 15px;
            color: #9f9f9f;
            flex-grow: 1;

            &:hover {
                color: $comic_page_font_title;
                text-decoration: none;
                background-color: #e3e3e3;
            }

            &:hover img {
                filter: invert(66%) sepia(0%) saturate(1%) hue-rotate(268deg) brightness(90%) contrast(91%);
            }

            img {
                height: 40px;
                filter: invert(66%) sepia(0%) saturate(1%) hue-rotate(268deg) brightness(220%) contrast(91%);
            }
        }
    }

    #social-icons {
        position: fixed;
        top: 20%;
        right: 0;

        > div {
            @include flex (column, center, flex-end);
            width: 65px;
        }

        a {
            &:hover {
                text-decoration: none;
            }

            span {
                text-align: center;
                display: block;
                font-size: 22px;
                line-height: 50px;
                width: 50px;
                height: 50px;
                color: #fff;
                transition: width .3s ease;

                &:hover {
                    width: 65px;
                }

                &.fa-facebook-f {
                    background-color: rgb(59, 89, 152);
                }

                &.fa-twitter {
                    background-color: rgb(29, 161, 242);
                }

                &.fa-pinterest-p {
                    background-color: rgb(203, 32, 39);
                }

                &.fa-plus {
                        background-color: rgb(255, 101, 80);
                }
            }
        }
    }
}
