// top banner
$top_banner_bg_color: #0282f9;
$top_banner_font_color: #fff;

// nav
$nav_links_font-color: #464646;
$nav_links_hover_color: #0282f9;

// current-series
$current_series_font_color: #fff;
$current_series_bg_color: #1c1c1c;
$current_series_button_color: #0282f9;
